<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================================================= -->
  <!-- Macro: scene_simple                               -->
  <!-- ================================================= -->
  <!-- params:
       prefix        : namespace for links/materials
       mesh_path     : absolute or package mesh path
       color_rgba    : visual color
  -->
  <xacro:macro name="scene_simple"
               params="
                 prefix:='scene_'
                 mesh_path
                 color_rgba:='0.75 0.75 0.78 1.0'
               ">

    <!-- Material -->
    <material name="${prefix}silver">
      <color rgba="${color_rgba}"/>
    </material>

    <!-- Dummy world root -->
    <link name="${prefix}world"/>

    <!-- Scene base -->
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="1.1342588136112335 -0.02214841975228302 0.6612820854300633"
                rpy="0 0 0"/>
        <mass value="1596.2128206057669"/>
        <inertia
          ixx="2131.62125"
          iyy="635.241174"
          izz="2488.864681"
          ixy="29.498323"
          iyz="-3.037225"
          ixz="-1.47522"/>
      </inertial>

      <visual>
        <geometry>
          <mesh filename="${mesh_path}"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${prefix}silver"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="${mesh_path}"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- Fix base to world -->
    <joint name="${prefix}world_to_base" type="fixed">
      <parent link="${prefix}world"/>
      <child  link="${prefix}base_link"/>
    </joint>

  </xacro:macro>

</robot>
