<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="scene_model"
               params="
                 prefix
                 mesh_pkg
                 mesh_subdir
                 color_primary">

    <!-- Prefixed material -->
    <material name="${prefix}scene_material">
      <color rgba="${color_primary}"/>
    </material>

    <!-- Dummy root -->
    <link name="${prefix}world"/>

    <!-- Scene link -->
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="1.1342588136112335 -0.02214841975228302 0.6612820854300633" rpy="0 0 0"/>
        <mass value="1596.2128206057669"/>
        <inertia
          ixx="2131.62125"
          iyy="635.241174"
          izz="2488.864681"
          ixy="29.498323"
          iyz="-3.037225"
          ixz="-1.47522"/>
      </inertial>

      <visual>
        <geometry>
          <mesh
            filename="package://${mesh_pkg}/${mesh_subdir}/base_link.stl"
            scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${prefix}scene_material"/>
      </visual>

      <collision>
        <geometry>
          <mesh
            filename="package://${mesh_pkg}/${mesh_subdir}/base_link.stl"
            scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- Fix to world -->
    <joint name="${prefix}world_to_base" type="fixed">
      <parent link="${prefix}world"/>
      <child link="${prefix}base_link"/>
    </joint>

  </xacro:macro>

</robot>
